<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<style>
body {
    font-family: Arial;
    background: linear-gradient(120deg, #4facfe, #00f2fe);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
}
.error { color:red; text-align:center; }
.message { color:green; text-align:center; }
button { width:100%; padding:10px; }
</style>
</head>
<body>

<div class="container">
<h2>Login</h2>

<input id="email" placeholder="Email">
<input id="password" type="password" placeholder="Password">

<button onclick="login()" id="btn">Login</button>

<div id="msg" class="message"></div>
<div id="err" class="error"></div>

</div>

<script>
const API = "https://new-fastapi-e-commerce-website.onrender.com";

async function login() {

btn.disabled = true;
btn.innerText = "Logging...";

try {
    const res = await fetch(API + "/login", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({
            email: email.value,
            password: password.value
        })
    });

    const result = await res.json();

    if (res.ok) {
        msg.innerText = "✅ Login success";
        localStorage.setItem("email", email.value);
        setTimeout(()=> location.href="/shop",1000);
    } else {
        err.innerText = result.detail || "Invalid login";
    }

} catch(e) {
    err.innerText = "Server not reachable";
}

btn.disabled = false;
btn.innerText = "Login";
}
</script>

</body>
</html>